@import '@/styles/app.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .helper {
    margin-bottom: -4px;
  }

  .two {
    @include s {
      display: flex;
    }
  }

  .three {
    @include m {
      display: flex;
    }
  }

  .four {
    display: flex;
  }
}
