@import '@/styles/app.scss';

.section {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;

    @include m {
      margin-top: 40px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-columns: 2fr 1fr;
    }
  }

  .cartItems {
    border-radius: 20px;
    background-color: var(--white);
    transition: background-color 0.2s;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include m {
      box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 4px 0px rgba(0, 0, 0, 0.02),
        0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 4px 0px rgba(0, 0, 0, 0.02);
      margin-left: -100px;
      padding: 40px 40px 40px 100px;
      height: 663.4px;
    }

    .titleCartItems {
      font-weight: 500;
      padding: 10px 0;
      border-bottom: 1px solid var(--gray);
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include m {
        overflow-y: auto;
      }

      .item {
        display: flex;
        flex-direction: column;
        gap: 24px;

        position: relative;

        .icon {
          cursor: pointer;
          width: 30px;
          position: absolute;
          top: -5px;
          right: 0;

          svg {
            rect {
              fill: transparent;
            }
            path {
              fill: var(--black);
              transition: fill 0.2s;
            }
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: calc(100% - 30px);
        }

        .btn {
          p {
            font-weight: 400;
          }
        }
      }
    }
  }
}

.gray {
  color: var(--gray);
}
