@import '@/styles/app.scss';

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  border-radius: 16px;
  gap: 10px;

  @include s {
    grid-template-columns: 1fr 264px;
    gap: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include s {
      gap: 24px;
    }

    .title {
      cursor: pointer;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .desc {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .infoTime {
        display: flex;
        align-items: center;
        gap: 40px;

        .data {
          color: var(--gray);
        }

        .time {
          color: var(--gray);
          display: flex;
          align-items: center;
          gap: 8px;

          .icon {
            width: 24px;
          }
        }
      }
    }
  }
  .img {
    height: 250px;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;

    @include s {
      height: 182px;
    }
  }
}
