@import '@/styles/app.scss';

.wrapper {
  padding: 40px 16px 0 16px;

  @include s {
    padding: 40px 20px 0 20px;
  }

  @include l {
    margin: auto;
    width: 1280px;
  }

  .link {
    cursor: pointer;
  }

  .button {
    display: flex;
    align-items: center;
    gap: 8px;

    .text {
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.2s;

      &:hover {
        border-bottom: 1px solid var(--black);
      }
    }

    .icon {
      transform: rotate(180deg);
      width: 24px;
    }

    svg {
      path {
        transition: stroke 0.2s;
        stroke: var(--black);
      }
    }
  }
}
