@import '@/styles/app.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;

  @include s {
    margin-top: 40px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 18px;

    .icon {
      cursor: pointer;
      width: 24px;
      border-radius: 100%;
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--light);
      }
    }

    svg {
      path {
        transition: fill 0.2s;
        fill: var(--black);
      }
    }
  }
}
