@import '@/styles/app.scss';

.heading {
  color: var(--black);
  font-family: Montserrat;
  font-style: normal;
}

.h2 {
  font-size: 32px;
  letter-spacing: -1px;
  font-weight: 600;
  line-height: 110%; /* 52.8px */

  @include s {
    font-size: 48px;
    letter-spacing: -3.5px;
  }
}
