@import '@/styles/app.scss';

.text {
  font-family: Montserrat;
  font-style: normal;
}

.xs {
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
}

.s {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}

.l {
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;

  @include s {
    font-size: 24px;
  }
}

.xl {
  font-size: 20px;
  font-weight: 500;
  line-height: 110%;

  @include s {
    font-size: 32px;
  }
}

.button {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.underline {
  text-decoration-line: underline;
}
