@import '@/styles/app.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 4px 0px rgba(0, 0, 0, 0.02),
    0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 4px 0px rgba(0, 0, 0, 0.02);
  padding: 30px;
  border-radius: 20px;
  background-color: var(--whiteBlack);
  transition: background-color 0.2s;

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include s {
      gap: 24px;
    }

    .button {
      width: 100%;
    }

    .text {
      color: var(--gray);
      transition: color 0.2s;

      .linkText {
        transition: border-bottom 0.2s;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid var(--gray);
        }
      }
    }
  }

  .advantages {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      font-weight: 600;
    }
  }
}
