@import '@/styles/app.scss';

.wrapper {
  overflow: hidden;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  @include xxss {
    display: block;
  }

  .map {
    height: 350px;
    width: 288px;

    @include xxss {
      width: 100%;
    }

    @include s {
      height: 600px;
    }
  }
}
