@import '@/styles/app.scss';

.types {
  display: grid;
  grid-template-columns: repeat(4, minmax(290px, 1fr));
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
  margin-right: -16px;

  @include s {
    margin-right: 0px;
  }

  @include l {
    margin-top: 80px;
  }

  .type {
    border-radius: 8px;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 4px 0px rgba(0, 0, 0, 0.02),
      0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 4px 0px rgba(0, 0, 0, 0.02);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    cursor: pointer;
    background-color: var(--whiteBlack);
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--blueHover);
    }

    .text {
      white-space: nowrap;
    }
  }

  .active {
    background-color: var(--blueHover);
  }
}
