@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/styles/app.scss';

* {
  box-sizing: border-box;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $fontCommon;
  background-color: var(--white);

  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  transition: background-color 0.2s, color 0.2s;
}

body[data-theme='dark'] {
  --blueLightWrapper: #213346;
  --blueLightIcon: #56677a;

  --redLightWrapper: #213346;

  --purpleLightWrapper: #213346;
  --purpleLightIcon: #56677a;

  --yellowLightWrapper: #213346;
  --yellowLightIcon: #56677a;
  --yellowLightSubscription: #2c4259;

  --black: #f9f9f9;
  --blackHover: #e7e7e7;

  --white: #213346;
  --whiteBlack: #2c4259;
  --whiteHover: #56677a;

  --whiteMain: #2c4259;
  --grayLight: #385370;

  --light: #2c4259;
  --lightWhite: #2c4259;

  --menuIcon: #213346;
  --menuIconHover: #56677a;
}

// body[data-theme='dark'] {
//   --black: #ffffff;
//   --white: #101010;
//   color: var(--white);
// }

:root {
  --blue: #3090d7;
  --blueLight: #cbe5f8;
  --blueLightWrapper: #cbe5f8;
  --blueLightIcon: #e6f3fc;

  --red: #ff3f3f;
  --redLight: #f9b1b1;
  --redLightWrapper: #f9b1b1;

  --purple: #bd5af9;
  --purpleLight: #eac7ff;
  --purpleLightIcon: #eac7ff;
  --purpleLightWrapper: #eac7ff;

  --yellow: #c4ae12;
  --yellowLight: #fff296;
  --yellowLightSubscription: #fff296;
  --yellowLightWrapper: #fff296;
  --yellowLightIcon: #fae75f;

  --green: #50dd39;

  --black: #181818;
  --blackHover: #343232;

  --white: #ffffff;
  --whiteBlack: #ffffff;
  --whiteHover: #e7e7e7;

  --whiteMain: #fafafa;
  --gray: #9f9f9f;
  --grayLight: #dbdbdb;

  --light: #f9f9f9;
  --lightWhite: #ffffff;

  --menuIcon: #f9f9f9;
  --menuIconHover: #ededed;
}

.buttonIconWrapper {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;

  transition: background 0.2s, color 0.2s;
}

.layout {
  width: 100%;
  padding: 40px 16px;

  @include s {
    padding: 40px 20px;
  }

  @include l {
    margin: auto;
    width: 1280px;
  }
}

// _________________Стилизация скроллбара_________________
// /* Скрывает стрелки скролла */
// ::-webkit-scrollbar-button {
//   display: none;
// }
// /* Стиль трека (дорожки) скролла */
// ::-webkit-scrollbar-track {
//   background: transparent; /* Сделать фон трека прозрачным */
// }
// /* Стиль самого скроллбара (ползунка) */
// ::-webkit-scrollbar-thumb {
//   background: gray; /* Задать цвет ползунка */
//   border-radius: 10px; /* Если нужны скругленные углы */
// }
// /* Стили для ползунка в состоянии :hover и :active */
// ::-webkit-scrollbar-thumb:hover {
//   background: darkgray; /* Цвет ползунка при наведении */
// }
// ::-webkit-scrollbar-thumb:active {
//   background: #686868; /* Цвет ползунка при нажатии */
// }
// /* Размеры скроллбара */
// ::-webkit-scrollbar {
//   width: 8px; /* Ширина для вертикального скролла */
//   height: 8px; /* Высота для горизонтального скролла */
// }
// /* Убирает скроллбар-угол */
// ::-webkit-scrollbar-corner {
//   display: none;
// }
// _________________Полностью скрываю скроллбар_________________
/* Скрыть скроллбары в Webkit-браузерах */
::-webkit-scrollbar {
  display: none;
}

/* Скрыть скроллбары в IE, Edge и Firefox */
* {
  -ms-overflow-style: none; /* для Internet Explorer и Edge */
  scrollbar-width: none; /* для Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Для остальных браузеров на движке Webkit, таких как Chrome и Safari */
}
